@{
    ViewData["Title"] = "Home Page";
    ViewData["API_HOST"] = Environment.GetEnvironmentVariable("API_HOST");
    ViewData["API_ORG"] = Environment.GetEnvironmentVariable("API_ORG");
    ViewData["API_ENV"] = Environment.GetEnvironmentVariable("API_ENV");
    ViewData["APP_CODE"] = Environment.GetEnvironmentVariable("APP_CODE");
    ViewData["CLIENT_ID"] = Environment.GetEnvironmentVariable("CLIENT_ID");
}

<!-- <app asp-prerender-module="ClientApp/dist/main-server">Loading...</app> -->
<app>
    <div style="
        background: url(../cemex-loading.gif) no-repeat 0 0;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: white;">
    </div>
</app>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous"></script> -->
<script src="ordersnproduct/dist/vendor.js" asp-append-version="true"></script>
<script src="ordersnproduct/dist/bootstrap.bundle.js" asp-append-version="true"></script>
<script src="ordersnproduct/dist/dls/dls.bundle.js" asp-append-version="true"></script>
@section scripts {
    <script>
        window.API_HOST = '@ViewData["API_HOST"]';
        window.API_ORG = '@ViewData["API_ORG"]';
        window.API_ENV = '@ViewData["API_ENV"]';
        window.APP_CODE = '@ViewData["APP_CODE"]';
        window.CLIENT_ID = '@ViewData["CLIENT_ID"]';
    </script>
    <script src="ordersnproduct/dist/main-client.js" asp-append-version="true"></script>
}
